# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Django migrations cache
migrations/__pycache__/

# Virtual environments
.venv/
venv/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Testing
.pytest_cache/
.coverage
htmlcov/

# Local development
*.log
*.sqlite3
