{% load i18n %}

<ion-tab-bar>
    <ion-tab-button
        hx-get="{% url 'customers:list' %}"
        hx-target="#dashboard-content"
        hx-push-url="true"
        class="{% if current_view == 'list' %}tab-selected{% endif %}">
        <ion-icon name="people-outline"></ion-icon>
        <ion-label>{% trans "Clientes" %}</ion-label>
    </ion-tab-button>

    <ion-tab-button
        hx-get="{% url 'customers:create' %}"
        hx-target="#dashboard-content"
        hx-push-url="true"
        class="{% if current_view == 'create' %}tab-selected{% endif %}">
        <ion-icon name="person-add-outline"></ion-icon>
        <ion-label>{% trans "Nuevo" %}</ion-label>
    </ion-tab-button>

    <ion-tab-button
        href="{% url 'customers:export' %}">
        <ion-icon name="download-outline"></ion-icon>
        <ion-label>{% trans "Exportar" %}</ion-label>
    </ion-tab-button>
</ion-tab-bar>
